
cite {
	color: deepskyblue;
}

blockquote {
    font-style: italic;
}

blockquote p:before {
    content: "«";
    margin-right: 0.5em;
}

blockquote  p:after {
    content: "»";
    margin-left: 0.5em;
    color: DodgerBlue;
}