/* simple */
.table th,
.table td {
	padding: 1em;
	border: 1px solid #ddd;
}

/* regions */
.regions {
	width: 100%;
	border-collapse: collapse;
}
.regions caption {
	font-size: 2em;
}
.regions caption,
.regions th,
.regions td {
	padding: 1em;
	border: 1px solid #ddd;
}
.regions thead {
	text-align: center;
	border-bottom: 2px solid #999;
}
.regions tfoot {
	border-top: 2px solid #999;
}
.regions td {
	padding: 1em;
	text-align: right;
	border: 1px solid #ddd;
}
.regions tbody td:nth-child(1) {
	text-align: left;
}
.regions tbody td:nth-child(2) {
	text-align: center;
}
.regions tbody tr:nth-child(odd) td {
    background-color: #eee;
}