@import "normalize.scss";

body {
background-color: #555;
color: #fff;
font-family: 'JetBrains Mono', Verdana, Geneva, Tahoma, sans-serif;
display: flex;
flex-direction: column;
min-height: 100vh;
    header {
        background-color: #333;
    }

    main {
        flex-grow: 1;
    }

    footer {
        background-color: #333;
    }
}