#ball {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid black;
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,90,1) 100%);
}
