.block {
	padding: 2em;
	background-color: teal;
	max-width: 40em;
	min-height: 20em;
	color: #fff;
}
.bg-small {
	background-image: url(../img/small.jpg);
}
.bg-large {
	background-image: url(../img/large.jpg);
}

/* background-repeat */
.bg-repeat {
	background-repeat: repeat;
}
.bg-repeat-no {
	background-repeat: no-repeat;
}
.bg-repeat-x {
	background-repeat: repeat-x;
}
.bg-repeat-y {
	background-repeat: repeat-y;
}

/* background-size */
.bg-size-contain {
	background-size: contain;
}
.bg-size-cover {
	background-size: cover;
}
.bg-size-50 {
	background-size: 50%;
}
.bg-size-80-40 {
	background-size: 80% 40%;
}

/* background-position */
.bg-position-center {
	background-position: center;
}
.bg-position-right-top {
	background-position: right top;
}
.bg-position-right-bottom {
	background-position: right bottom;
}
.bg-position-80-40 {
	background-position: 80% 40%;
}