.xdebug-var-dump {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    font-size: 0.8rem;
    font-family: "Fira Code";
    border: 2px solid #1266f1;
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Fira Code" !important;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
}

main {
    flex-grow: 1;
}

/* HEADER
------------------*/

header {
    padding: 2rem 0;
    background-color: #333;
}

header a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

header a:hover {
    color: goldenrod;
}

.nav-link {
    color: white !important;
}

/* FOOTER
------------------*/

footer {
    color: white;
    background-color: #333 !important;
}

.f-nav {
    display: flex;
    flex-direction: column;
}

footer a {
    color: goldenrod;
    text-decoration: none;
}

footer a:hover {
    color: #39c0ed;
}

.i-fb {
    color: #1266f1;
}

.i-tw {
    color: #39c0ed;
}

.i-y {
    color: #f93154;
}

/* MAIN
------------------*/

main {
    padding-top: 2rem;
}

/* USERS ALL
------------------*/

.card-body {
    position: relative;
}

.card-body a {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

.card-text {
    font-size: 0.9rem;
}

.avatar {
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

.avatar-user {
    width: 100%;
    border-radius: 100%;
    border: 2px solid #333;
    background-color: white;
    transform: scale(0.8);
}

/* ACCUEIL
------------------*/

/* USER
------------------*/

.user_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user_contact img {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 50%;
    border: 4px solid #333;
    width: 300px !important;
}

.user_contact a {
    text-decoration: none;
}

.user_contact p {
    margin: 1rem 0 0;
}

.user_contact i {
    font-size: 1.3rem;
}

.i-email {
    color: #00b74a;
}

.i-street {
    color: #f93154;
}

.i-city {
    color: #b23cfd;
}
