/* Le code CSS de la démo */

section {
    border: 1px dotted tomato;
}

article {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.simple {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50%;
}

.simple-alt {
    display: grid;
    grid-template: 50% 50% / 20% 80%;
}

.repeat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5em;
    column-gap: 0.25em;
}

.gap-alt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em 0.25em;
}

.justify-items-center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.justify-items-start {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
}

.justify-items-end {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-end;
}

.align-items-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: center;
    height: 50vh;
}

.align-items-start {
    align-items: flex-start;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    display: grid;
}

.align-items-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: flex-end;
    height: 50vh;
}

.align-items-stretch {
    align-items: stretch;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    display: grid;
}

.justify-content-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    justify-content: center;
}

.justify-content-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    justify-content: flex-start;
}

.justify-content-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    justify-content: flex-end;
}

.justify-content-between {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    justify-content: space-between;
}

.justify-content-around {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    justify-content: space-around;
}

.align-content-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    align-content: center;
}

.align-content-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    align-content: flex-start;
}

.align-content-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    align-content: flex-end;
}

.align-content-space-between {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    align-content: space-between;
}

.align-content-space-around {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    align-content: space-around;
}

.align-content-space-envenly {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    height: 50vh;
    align-content: space-evenly;
}

.grid-area {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 1em;
}


.grid-area-header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
}

.grid-area-main {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

.grid-area-sidebar {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}

.grid-area-footer {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
}

/* template-areas alt */
.test-areas-alt {
	display: grid;
	/*grid-template: repeat(3, auto) / repeat(4, auto);*/
	grid-template-areas:
		"header header header header"
		"main main . sidebar"
		"footer footer footer footer";
	gap: 1em;
}
.test-areas-alt .area-header {
	grid-area: header;
}
.test-areas-alt .area-main {
	grid-area: main;
}
.test-areas-alt .area-sidebar {
	grid-area: sidebar;
}
.test-areas-alt .area-footer {
	grid-area: footer;
}
