@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    min-height: 100vh;
}

#canvas {
    display: block;
    background-color: #333;
    position: relative;
    border: 4px solid #39C0ED;

}